<style>
  .footer {
    background-color: #094067;
    color: #fffffe;
    padding: 25px 0;
    text-align: center;
    bottom: 0px;
    width: 100%;
  }
</style>
<body>
  <div class="footer mt-5 text-center">
    <div>© 2024 smart technology. All rights reserved.</div>
  </div>
</body>
