<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stylish Footer Example</title>
    <style>
      .footer {
        background-color: #094067;
        color: #fffffe;
        padding: 20px 0;
        text-align: center;
        position: fixed;
        bottom: 0px;
        width: 100%;
      }
      .hidden-info {
        display: none;
        margin-top: 10px;
        font-size: 0.9em;
      }
      .footer:hover .hidden-info {
        display: block;
      }
      .My-Links{
        display: flex;
        justify-content: center;
        gap: 1rem;

      }
    </style>
  </head>
  <body>
    <footer class="footer">
      <div>© 2024 smart technology. All rights reserved.</div>
      <div class="My-Links">
        <p class="nav-item"><a  href="/terms-and-conditions">Terms and Conditions</a></p>
        <p class="nav-item"><a href="/privacy-policy">Privacy Policy</a></p>
        <p class="nav-item"><a  href="/refund-policy">Refund Policy</a></p>
        <p class="nav-item"><a  href="/shipping-policy">Shipping Policy</a></p>
        <p class="nav-item"><a  href="/contact-us">Contact Us</a></p>
        <p class="nav-item"><a  href="/services">Services</a></p>
        <p class="nav-item"><a  href="/about-us">About Us</a></p>
      </div>
    </footer>
  </body>
</html>
